Repository logstash-plugins/logstash-input-file, pull requests merged in 2022-05, with the labels that each got.

#309 Fix failing tests
  spec/helpers/spec_helper.rb
  spec/inputs/file_tail_spec.rb
Labels: status:approved

#308 Doc: Set version attribute in plugin source file
  CHANGELOG.md
  docs/index.asciidoc
  logstash-input-file.gemspec
Labels: docs, status:approved

#310 Doc: Fix attribute by removing extra character
  CHANGELOG.md
  docs/index.asciidoc
  logstash-input-file.gemspec
Labels: docs, status:needs-review
